---
---

@import "{{ site.theme }}";

// Hacker Theme Specific Overrides
// Use !important to ensure these override the theme's internal defaults

$primary-color: #3498db; // The bright blue for titles
$secondary-color: #2980b9; // The blue for the border/line

header {
  border-bottom: none !important; 
}

h1, h2, h3, h4, h5, h6 {
  color: #3498db !important; // Forces titles to blue
}

.title-line {
  background-color: #2980b9 !important; // Changes that horizontal dashed line
}

a {
  color: #3498db !important; // Changes link colors
}

kbd {
  border-color: #3498db !important;
}

/* This targets the inline backtick highlights */
code {
    background-color: #e0f2fe !important; /* A very light blue */
    color: #0369a1 !important;            /* A darker blue for the text contrast */
    padding: 2px 4px;                    /* Adds a little breathing room around the text */
    border-radius: 4px;                  /* Rounds the corners slightly */
}
